<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DaRT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <asm:assemblyBinding xmlns:asm="urn:schemas-microsoft-com:asm.v1">
      <asm:probing privatePath="data\lib"/>
    </asm:assemblyBinding>
  </runtime>
  <userSettings>
        <DaRT.Properties.Settings>
              <setting name="host" serializeAs="String">
                    <value>127.0.0.1</value>
              </setting>
              <setting name="port" serializeAs="String">
                    <value>2302</value>
              </setting>
              <setting name="password" serializeAs="String">
                    <value />
              </setting>
              <setting name="bannerImage" serializeAs="String">
                    <value>http://cache.www.gametracker.com/server_info/{0}/b_350_20_FFAD41_E98100_000000_591F11.png</value>
              </setting>
              <setting name="bannerUrl" serializeAs="String">
                    <value>http://www.gametracker.com/server_info/{0}/</value>
              </setting>
              <setting name="refresh" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="banGUID" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="banIP" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="report" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="savePlayers" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="saveHosts" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showTimestamps" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="refreshOnJoin" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showConnectMessages" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showRefreshMessages" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showVerificationMessages" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showAdminMessages" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showAdminChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showDirectChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showVehicleChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showGroupChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="saveLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="interval" serializeAs="String">
                    <value>10</value>
              </setting>
              <setting name="requestOnConnect" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showGlobalChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showSideChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showSetDamageLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showPublicVariableLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showCreateVehicleLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showRemoteExecLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showScriptsLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showSetPosLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showLogErrors" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="splitter" serializeAs="String">
                    <value>325</value>
              </setting>
              <setting name="flash" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="font" serializeAs="String">
                    <value>Lucida Console, 8.25pt</value>
              </setting>
              <setting name="name" serializeAs="String">
                    <value>DaRT</value>
              </setting>
              <setting name="connectOnStartup" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="saveComments" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="quickBan" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="dartbrs" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="playerOrder" serializeAs="String">
                    <value>0;1;2;3;4;5;6;7</value>
              </setting>
              <setting name="playerSizes" serializeAs="String">
                    <value>45;30;150;50;250;180;100;210</value>
              </setting>
              <setting name="showAdminCalls" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="useNameForAdminCalls" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showPlayerConnectMessages" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="playerTicks" serializeAs="String">
                    <value>1000</value>
              </setting>
              <setting name="banTicks" serializeAs="String">
                    <value>10000</value>
              </setting>
              <setting name="showedBanWarning" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="firstStart" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="UpgradeConfig" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showDebug" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showCommandChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="showAddBackpackCargoLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showAddMagazineCargoLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showAddWeaponCargoLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showAttachToLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showDeleteVehicleLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showMPEventHandlerLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showPublicVariableValLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showRemoteControlLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showSelectPlayerLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showSetVariableLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showSetVariableValLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showTeamSwitchLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showWaypointConditionLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="showWaypointStatementLog" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="colorChat" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="colorFilters" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="filters" serializeAs="String">
                    <value />
              </setting>
              <setting name="buffer" serializeAs="String">
                    <value>10000</value>
              </setting>
              <setting name="span" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="showUnknownChat" serializeAs="String">
                    <value>True</value>
              </setting>
        </DaRT.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
